.form {
  width: 320px;
  padding: 30px;

}

.form__text {
  margin-bottom: 30px;
  font-size: $size--font-xx-small;
  font-family: 'Open Sans', sans-serif;
  color: $color--font-gray;

}

.form__order-settings {
  margin-bottom: 35px;

}

.form__parameter {
  position: relative;
  margin-bottom: 25px;
  font-size: $size--font-medium;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  color: $color--light-turquoise;
  text-transform: uppercase;

}

.form__parameter::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 200px;
  border-bottom: 1px solid $color--light-turquoise;

}

.field-radio {
  display: block;
  margin-bottom: 20px;

}

.field-radio__input {
  display: none;

}

.field-radio__input:checked ~ .field-radio__name::after {
  transform: scale(1.0);

}

.field-radio__input:checked ~ .field-radio__name::before {
  border-color: $color--dark-gray;

}

.field-radio__name {
  display: block;
  position: relative;
  width: 200px;
  left: 60px;
  font-size: $size--font-medium;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  color: $color--font-black;

}

.field-radio__name::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -62px;
  width: 35px;
  height: 35px;
  border: solid 2px $color--font-gray;
  border-radius: 50%;

}

.field-radio__name:hover::before {
  border-color: $color--light-turquoise;

}

.field-radio__name::after {
  content: "";
  position: absolute;
  top: 2px;
  left: -50px;
  width: 15px;
  height: 15px;
  background-color: $color--turquoise;
  border-radius: 50%;
  transform: scale(0);
  transition-property: transform;
  transition-duration: 0.28s;

}

.field-checkbox {
  display: block;
  margin-bottom: 35px;

}

.field-checkbox__input {
  display: none;

}

.field-checkbox__input:checked ~ .field-checkbox__name::after {
  transform: rotate(-45deg);

}

.field-checkbox__input:checked ~ .field-checkbox__name::before {
  border-color: $color--dark-gray;

}

.field-checkbox__name {
  display: block;
  position: relative;
  width: 200px;
  left: 60px;
  font-size: $size--font-medium;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  color: $color--font-black;

}

.field-checkbox__name::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -62px;
  z-index: 1;
  width: 35px;
  height: 35px;
  border: solid 2px $color--font-gray;

}

.field-checkbox__name:hover::before {
  border-color: $color--light-turquoise;

}

.field-checkbox__name::after {
  content: "";
  position: absolute;
  top: 2px;
  left: -52px;
  width: 18px;
  height: 8px;
  border-left: 2px solid $color--font-black;
  border-bottom: 2px solid $color--font-black;
  transform: scale(0);

}

.field-text {
  display: block;
  margin-bottom: 25px;

}

.field-text__name {
  margin-bottom: 25px;
  font-size: $size--font-medium;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  color: $color--font-black;

}

.field-text__input {
  width: 260px;
  padding-bottom: 20px;
  font-size: $size--font-medium;
  font-family: 'Open Sans', sans-serif;
  color: $color--font-gray;
  border: none;
  border-bottom: 2px solid $color--font-black;

}

.field-text__input--pucture-tel {
  background-image: url(../img/icon-phone-gray.svg);
  background-repeat: no-repeat;
  background-size: 25px 24px;
  background-position: right 0;

}

.field-text__input--pucture-tel:hover, .field-text__input--pucture-tel:focus {
  background-image: url('../img/icon-phone-turquoise.svg');

}

.field-text__input--pucture-email {
  background-image: url('../img/icon-mail-gray.svg');
  background-repeat: no-repeat;
  background-size: 25px 24px;
  background-position: right 0;

}

.field-text__input--pucture-email:hover, .field-text__input--pucture-email:focus {
  background-image: url('../img/icon-mail-turquoise.svg');

}

.field-text__input:hover, .field-text__input:focus {
  outline: none;
  border-bottom: 2px solid $color--light-turquoise;

}

.field-textarea__input-wrap {
  margin-bottom: 10px;

}

.field-textarea__input {
  width: 260px;
  height: 140px;
  padding-top: 18px;
  padding-left: 15px;
  font-size: $size--font-medium;
  font-family: 'Open Sans', sans-serif;
  color: $color--font-gray;
  border: 2px solid $color--font-black;

}

.field-textarea__input:hover, .field-textarea__input:focus {
  outline: none;
  border: 2px solid $color--light-turquoise;

}

.form__warning {
  display: block;
  margin-bottom: 30px;
  font-size: $size--font-x-small;
  font-family: 'Open Sans', sans-serif;
  color: $color--font-gray;

}

.form__submit-order {
  margin-bottom: 15px;
  background-color: $color--white;

}
