.reviews {
  margin: 30px;

}

.reviews__title {
  margin-bottom: 30px;
  font-size: $size--font-large;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  color: $color--font-black;

}

.reviews__items {
  width: 320px;
  margin-bottom: 15px;

}


.reviews__item {
  font-size: $size--font-small;
  line-height: 30px;
  font-family: 'Open Sans', sans-serif;
  color: $color--font-gray;

}

.reviews__author-name {
  display: block;
  margin-top: 25px;
  font-size: $size--font-x-medium;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  color: $color--font-black;
  font-style: normal;

}

.reviews__auhor-mail {
  display: block;
  font-size: $size--font-x-medium;
  font-family: 'Open Sans', sans-serif;
  color: $color--font-gray;
}

.reviews__switch {
  width: 260px;
  margin-bottom: 40px;

}

.reviews__switch--left {
  display: block;
  float: left;
  width: 130px;
  height: 50px;
  background-image: url('../img/icon-left-arrow.svg');
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #ececec;
  border-right: none;

}

.reviews__switch--right {
  display: block;
  float: left;
  width: 130px;
  height: 50px;
  background-image: url('../img/icon-right-arrow.svg');
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #ececec;
  clear: right;

}

.reviews__write {
  margin-bottom: 40px;

}
