.social-link {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;

}

.social-link--instagram {
  display: inline-block;
  width: 22px;
  height: 21px;
  padding-right: 60px;
  background-image: url('../img/icon-insta.svg');
  background-repeat: no-repeat;

}

.social-link--facebook {
  display: inline-block;
  width: 15px;
  height: 29px;
  padding-right: 50px;
  background-image: url('../img/icon-fb.svg');
  background-repeat: no-repeat;

}

.social-link--twitter {
  display: inline-block;
  width: 24px;
  height: 20px;
  background-image: url('../img/icon-twitter.svg');
  background-repeat: no-repeat;

}
