* {
  box-sizing: border-box;

}

body {
  min-width: 320px;
  margin: 0 auto;
  background-color: $color--font-white;
  font-family: 'Open Sans', sans-serif;

}

a {
  text-decoration: none;

}

img {
  display: block;
  max-width: 100%;
  height: auto;

}
