.add-basket {
  width: 320px;
  height: 340px;
  background-color: $color--white;
  border-top: 1px solid $color--devider;

}

.add-basket__title {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: $size--font-large;
  font-weight: bold;
  text-align: center;
  color: $color--font-black;
  text-transform: uppercase;

}

.add-basket__text {
  display: block;
  margin-bottom: 30px;
  font-size: $size--font-small;
  text-align: center;
  color: $color--font-gray;

}

.add-basket__items {
  margin: 0 30px 30px 30px;

}

.add-basket__item-name {
  display: inline-block;
  margin-right: 6px;

  &:last-child {
    margin-right: 0;

  }

}

.add-basket__item-input {
  display: none;

}

.add-basket__item-name-text {
  position: relative;
  display: inline-block;
  width: 78px;
  height: 50px;
  line-height: 50px;
  font-size: $size--font-medium;
  font-weight: bold;
  text-align: center;
  color: $color--font-gray;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 78px;
    height: 50px;
    border: 2px solid $color--devider;

  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 78px;
    height: 50px;
    border: 2px solid $color--dark-turquoise;
    transform: scale(0);

  }

}

.add-basket__item-input:checked ~ .add-basket__item-name-text::after {
  transform: scale(1.0);

}

.add-basket__btn {
  margin-left: 30px;
  background-color: $color--turquoise;
  color: $color--font-white;
  border: none;

}
