.catalog {
  display: block;
  width: 320px;
  margin: 0 auto;

}

.catalog__title {
  min-height: 180px;
  padding-top: 50px;
  text-align: center;
  background-color: $color--gray;

}

.catalog__title-text {
  font-size: $size--font-x-large;
  line-height: 30px;
  font-weight: bold;
  color: $color--font-dark;
  text-align: center;

}

@media ($tablet-width) {
  .catalog {
    width: 768px;

  }

  .catalog__title {
    position: relative;
    min-height: 225px;
    margin-bottom: 85px;
    padding-top: 65px;
    text-align: center;
    background-color: $color--gray;

    &::after {
      content: "";
      position: absolute;
      background: url("../../img/bg-zigzag-fill.svg") no-repeat;
      background-size: 768px 34px;
      width: 768px;
      height: 34px;
      left: 0;
      top: 209px;

    }

  }

  .catalog__title-text {
    font-size: $size--font-xx-large;
    line-height: 50px;

  }

}

