.contacts__title {
  margin: 30px;
  font-size: $size--font-x-medium;
  font-weight: bold;
  color: $color--font-black;

}

.contacts__items {
  width: 100%;
  padding: 0 30px 0 30px;
  font-size: $size--font-small;
  line-height: 30px;
  color: $color--font-gray;

}

.contacts__item-name {
  width: 77px;
  vertical-align: top;
  padding-bottom: 30px;

}

.contacts__item-value {
  padding-bottom: 30px;

}

.contacts__item-value a {
  border-bottom: 1px solid $color--devider-turquoise;
  padding-bottom: 5px;
  color: $color--font-gray;

}

.contacts__item-value--display {
  padding-right: 40px;

}

.contacts__map {
  position: relative;

}

.contacts__write-us {
  display: block;
  margin: 40px 30px;

}

