.main-nav {
  position: relative;
  width: 320px;
  margin: 0 auto;

}

.main-nav--closed .main-nav__toggle {
  position: absolute;
  top: -52px;
  right: 30px;
  display: block;
  width: 20px;
  height: 14px;
  background-image: url('../../img/icon-menu-open.svg');
  background-repeat: no-repeat;

}

.main-nav--opened .main-nav__toggle {
  position: absolute;
  top: -55px;
  right: 30px;
  display: block;
  width: 21px;
  height: 21px;
  background-image: url('../../img/icon-menu-close.svg');
  background-repeat: no-repeat;

}

.main-nav__list, .main-nav__user-list, .main-nav__desktop-list {
  margin: 0;
  padding: 0;
  list-style: none;

}

.main-nav__item, .main-nav__user-item, .main-nav__desktop-item {
  display: block;
  height: 80px;
  padding-top: 25px;
  padding-left: 80px;
  border-bottom: 1px solid $color--devider;

}

.main-nav__item a, .main-nav__user-item a, .main-nav__desktop-item a {
  font-size: $size--font-medium;
  line-height: 24px;
  font-weight: bold;
  color: $color--font-black;

}

.main-nav__item-name-active {
  font-size: $size--font-x-large;
  font-weight: bold;
  color: $color--font-dark;

}

.main-nav__user-item--search {
  padding-left: 65px;

  &::before {
    content: '';
    display: inline-block;
    position: relative;
    width: 17px;
    height: 17px;
    background-image: url('../../img/icon-search.svg');
    background-repeat: no-repeat;
    top: 2px;
    left: -40px;

  }

}

.main-nav__user-item--basket {
  padding-left: 62px;

  &::before {
    content: '';
    display: inline-block;
    position: relative;
    width: 20px;
    height: 19px;
    background-image: url('../../img/icon-cart.svg');
    background-repeat: no-repeat;
    top: 2px;
    left: -40px;

  }

}

@media ($mobile-width-only) {
  .main-nav__desktop-list {
    display: none;

  }

  .main-nav--closed .main-nav__item {
    display: none;

    &--active {
      display: block;

    }

  }

  .main-nav--closed .main-nav__wrapper {

  }

  .main-nav--closed .main-nav__item--active {
    height: 180px;
    padding-top: 55px;
    text-align: center;
    background-color: $color--gray;

  }

  .main-nav--closed .main-nav__user-item {
    display: none;

  }

  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    height: 319px;
    background-color: $color--white;

  }

  .main-nav--nojs .main-nav__toggle {
    display: none;

  }

  .main-nav--nojs .main-nav__wrapper {
    position: static;
    height: auto;

  }

  .main-nav--nojs .main-nav__item {
    display: block;

  }

  .main-nav--nojs .main-nav__user-item {
    display: block;

  }

}

@media ($tablet-width) {
  .main-nav, .main-nav--closed {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 90px;

  }

  .main-nav {
    width: auto;
    margin: 0;

  }

  main-nav__toggle {
    display: none;

  }

  .main-nav__desktop-list {
    display: none;
  }

  .main-nav__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

  }

  .main-nav__list {
    position: absolute;
    order: 2;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    border: none;
    left: -322px;
    top: 110px;

  }

  .main-nav__user-list {
    order: 1;
    display: flex;
    flex-direction: row;
    height: 90px;
    margin: 0;
    padding: 0;

  }

  .main-nav__item, .main-nav__user-item {
    min-height: 90px;
    border: none;
    padding: 0;

  }

  .main-nav__item {
    padding-right: 35px;

  }

  .main-nav__user-item--search {
    width: 84px;
    border: 1px solid $color--devider;

    &::before {
      top: 37px;
      left: 32px;

    }

  }

  .main-nav__user-item--search a {
    font-size: 0;

  }

  .main-nav__user-item--basket {
    width: 314px;
    border-bottom: 1px solid $color--devider;
    text-align: right;
    padding: 32px 50px 0 34px;


    &::before {
      top: 4px;
      left: -33px;

    }

  }

}
