.page-header {
  width: 320px;
  margin: 0 auto;

}

.page-header__logo {
  display: block;
  padding: 20px 115px;
  border-bottom: 1px solid $color--devider;

}

.page-header__delivery-info  {
  display: none;

}

@media ($tablet-width) {
  .page-header {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    width: 768px;

  }

  .page-header__logo {
    width: 370px;
    padding: 0;
    border-bottom: 1px solid $color--devider;

  }

}
