.page-main {
  width: 320px;
}

.page-main__slogan {
  width: 320px;
  height: 300px;
  padding-top: 75px;
  background-image: url('../img/bg_page-main__slogan@1x.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;

}

.page-main__slogan-text {
  width: 260px;
  margin: 0 auto;
  font-size: $size--font-x-large;
  font-weight: bold;
  text-align: center;
  color: $color--font-dark;

}
