.page-footer {
  width: 320px;
  text-align: center;
  background-color: $color--gray;

}

.page-footer__social {
  height: 80px;
  padding: 30px;

}

.page-footer__copyright {
  height: 80px;
  padding: 30px;
  @include clearfix;

}

.page-footer__copyright-title {
  display: inline-block;
  font-size: $size--font--xx-medium;
  font-weight: bold;
  color: $color--font-black;

}

.page-footer__copyright-link {
  display: inline-block;
  float: right;
  width: 27px;
  height: 34px;
  padding-right: 65px;
  background-image: url('../../img/logo-htmlacademy.svg');
  background-repeat: no-repeat;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;

}
