.product-types {
  width: 320px;

}

.product-types__item {
  padding: 30px;
  font-size: $size--font--xx-medium;
  font-weight: bold;

  &--home-furnishings {
    background-color: $color--turquoise;
    background-image: url('../../img/icon-interior.svg');
    background-repeat: no-repeat;
    background-size: 40px 63px;
    background-position: 87%;

  }

  &--kids-toys {
    background-color: $color--dark-turquoise;
    background-image: url('../../img/icon-toy.svg');
    background-repeat: no-repeat;
    background-size: 60px 60px;
    background-position: 90%;

  }

}

.product-types__item a {
  color: $color--font-white;

}
