.reviews {
  margin: 30px;

}

.reviews__title {
  margin-bottom: 30px;
  font-size: $size--font-large;
  font-weight: bold;
  color: $color--font-black;

}

.reviews__items {
  width: 260px;
  margin-bottom: 15px;

}

.reviews__item {
  margin: 0;
  padding: 0;
  font-size: $size--font-small;
  line-height: 30px;
  color: $color--font-gray;

}

.reviews__author-name {
  display: block;
  margin-top: 25px;
  font-size: $size--font-x-medium;
  font-weight: bold;
  color: $color--font-black;
  font-style: normal;

}

.reviews__auhor-mail {
  display: block;
  font-size: $size--font-x-medium;
  color: $color--font-gray;
}

.reviews__switch {
  width: 260px;
  margin-bottom: 40px;
  @include clearfix;
  font-size: 0;

  &--left {
    display: block;
    float: left;
    width: 130px;
    height: 50px;
    background-image: url('../../img/icon-left-arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #ececec;
    border-right: none;

  }

  &--right {
    display: block;
    float: left;
    width: 130px;
    height: 50px;
    background-image: url('../../img/icon-right-arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #ececec;
    clear: right;

  }

}

.reviews__write {
  margin-bottom: 40px;

}

@media ($tablet-width) {

  .reviews {
    position: relative;
    width: 768px;
    min-height: 457px;
    margin: 0;
    padding: 30px 50px 55px 50px;
    background-image: url('../../img/review@1x.jpg');
    background-repeat: no-repeat;
    background-size: 350px 457px;

    &::after {
      content: "";
      position: absolute;
      background: url("../../img/bg-zigzag-line.svg");
      background-repeat: no-repeat;
      background-size: 768px 16px;
      width: 768px;
      height: 23px;
      bottom: -85px;
      left: 0;
      right: 0;

    }

  }

  @media (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
    background: url("../../img/review@2x.jpg");
    background-repeat: no-repeat;

  }

  .reviews__items {
    width: 650px;
    margin: 0;

  }

  .reviews__item {
    font-size: $size--font-medium;
    line-height: 30px;

  }

  .reviews__title {
    font-size: $size--font-xx-large;
    line-height: 50px;
    margin-bottom: 55px;

  }

  .reviews__author-name {
    margin-top: 60px;

  }

  .reviews__switch {
    bottom: 60px;
    right: 25px;
    width: 50px;
    margin: 0;
    font-size: 0;

    &--left {
      position: absolute;
      width: 135px;
      background-position: left;
      border: none;

    }

    &--right {
      position: absolute;
      width: 135px;
      background-position: right;
      border: none;

    }

  }

  .reviews__write {
    position: absolute;
    width: 175px;
    margin: 0;
    top: 65px;
    right: 25px;

  }

}

@media ($desktop-width) {
  .reviews {
    width: 1150px;
    padding-left: 170px;

    &::after {
      background-size: 1150px 23px;
      width: 1150px;

    }

  }

  .reviews__title {
    font-size: $size--font-xxx-large;
    line-height: 53px;
    margin-bottom: 50px;

  }

  .reviews__items {
    width: 765px;

  }

  .reviews__author-name {
    margin-top: 40px;

  }

  .reviews__switch {
    bottom: 80px;
    right: 50px;

    &--left {
      width: 135px;
      background-position: left;

    }

    &--right {
      width: 135px;
      background-position: right;

    }

  }

  .reviews__write {
    top: 70px;
    right: 50px;

  }

}
